<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            routerLink="/nav/bookingmanagment"routerLinkActive="active" style="color: black;"><button style="font-family:'Times New Roman', Times, serif;">Booking-Managment</button></a>
                    </li>

                    <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/nav/services"
                            routerLinkActive="active"><button style="font-family: 'Times New Roman', Times, serif;" >Services</button></a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>